/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222;
}
html {
  font-size: 1em;
  line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
  vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html,
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
}
body {
  /*background: url(../img/page-bg.png) repeat-y top center;*/
  font-family: 'Marcellus', serif;
}
body,
p,
a {
  color: #505050;
}
#main {
  width: 950px;
  margin: 0 auto;
  /*border: solid lime 1px;*/
  min-height: 200px;
  display: table;
  min-height: 100%;
  position: relative;
}
#main #pdf-download,
#main #language-selector {
  position: absolute;
  top: 0.5em;
  right: 0;
}
#main #pdf-download a,
#main #language-selector a,
#main #pdf-download span,
#main #language-selector span {
  font-family: Arial, sans-serif;
  color: black;
  font-weight: normal;
  font-size: 12px;
}
@media print {
  #main #pdf-download,
  #main #language-selector {
    display: none;
  }
}
#main #language-selector {
  top: 1.5em;
}
#main #misc-info {
  width: 240px;
  /*border: solid blue 1px;*/
  padding-top: 3em;
  display: table-cell;
  vertical-align: top;
  background-color: #800000;
  min-height: 100%;
}
.lt-ie8 #main #misc-info {
  float: left;
}
#main #misc-info .logo-container {
  text-align: center;
  margin: 0.4em 0px 1.5em 0;
}
#main #misc-info .logo-container .rougemine-logo {
  display: block;
  width: 70px;
  height: 70px;
  margin: 0 auto;
  background: url(../img/icons/rougemine-70x70.png) 0 0 no-repeat;
  border: 3px solid #FFFFFF;
  border-radius: 5px;
}
#main #misc-info .logo-container a {
  color: white;
}
#main #misc-info section {
  margin: 0 0 2em 1em;
}
#main #misc-info .header-icon {
  display: block;
}
#main #misc-info section h3 {
  margin: 0 0 0.25em 0;
}
#main #misc-info section,
#main #misc-info section a {
  color: white;
}
#main #main-panel {
  width: 710px;
  display: table-cell;
  vertical-align: top;
  padding-left: 25px;
  padding-top: 2em;
  padding-bottom: 3em;
  /*border: solid black 1px;*/
}
.lt-ie8 #main #main-panel {
  float: right;
}
#main #main-panel h1 {
  color: black;
  font-size: 3em;
  margin: 0;
}
#main #main-panel h2 {
  color: #800000;
  font-family: 'Lobster Two', cursive;
  font-size: 2.2em;
  font-style: italic;
  margin: 0;
}
#main #main-panel h3 {
  margin: 1em 0 0.5em 0;
  font-size: 1.75em;
  color: #800000;
}
#main #main-panel h3 img {
  margin-top: -4px;
}
#main #main-panel h4 {
  margin: 1em 0 0.25em 0;
}
#main #main-panel section ul li {
  margin: 0 0 0.5em 0;
}
#main #main-panel section ul li .heading {
  color: black;
  font-weight: bold;
}
#main #main-panel .technologies-container {
  margin-left: 1em;
}
#main #main-panel .technologies-container .tech {
  width: 33%;
  float: left;
  margin-bottom: 0.5em;
  min-height: 35px;
  /*border: solid red 1px;*/
}
#main #main-panel .technologies-container .icon {
  display: inline-block;
  width: 35px;
  text-align: center;
}
#main #main-panel .technologies-container .contributor {
  float: none;
  margin-left: 35px;
}
#main #main-panel .technologies-container .contributor a {
  font-style: italic;
}
#main #main-panel .my-favorite-tech {
  margin: 1.5em 0;
  background: url(../img/icons/laurel.png) 0 0 no-repeat;
  padding-left: 25px;
}
#main #main-panel .works .tech {
  font-weight: bold;
}
#main #main-panel .works .tech.icon {
  padding-left: 28px;
  background-repeat: no-repeat;
  background-position: 2px center;
}
#main #main-panel .works .tech.rails {
  background-image: url("../img/icons/techs/rails.png");
}
#main #main-panel .works .tech.backbone {
  background-image: url("../img/icons/techs/backbone.png");
  padding-left: 24px;
}
#main #main-panel .works .tech.zend-framework {
  background-image: url("../img/icons/techs/zend-framework.png");
}
#main #main-panel .works .tech.symfony2 {
  background-image: url("../img/icons/techs/symfony2.png");
}
#main #main-panel .works .tech.drupal {
  background-image: url("../img/icons/techs/drupal.png");
  padding-left: 24px;
}
#main #main-panel .works .tech.jquery {
  background-image: url("../img/icons/techs/jquery.png");
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}
/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /** {*/
  /*background: transparent !important;*/
  /*color: #000 !important; */
  /* Black prints faster: h5bp.com/s * /*/
  /*box-shadow: none !important;*/
  /*text-shadow: none !important;*/
  /*}*/
  a,
  a:visited {
    text-decoration: underline;
  }
  /*a[href]:after {*/
  /*content: " (" attr(href) ")";*/
  /*}*/
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links for images, or javascript/internal links
     */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
