<div id="pdf-download">
    <a href="cv-olivier-philippon.{{ document.language }}.pdf">{{ misc['pdf.download'] }}</a>
</div>

<div id="language-selector">
    <span>{{ misc['language'] }}</span>
    {% if 'en' == document.language %}
        <span>EN</span>
        <a href="?lang=fr">FR</a>
    {% elseif 'fr' == document.language %}
        <a href="?lang=en">EN</a>
        <span>FR</span>
    {% endif %}
</div>
