<aside itemScope
       itemType="http://schema.org/Person"
       class="grid grid-cols-2 md:grid-cols-1 gap-8 md:w-1/3 p-8 bg-red-900 text-slate-50 {% if debug %}{{ "border border-cyan-100 border-solid" }}{% endif %}">
    {% include "myresume/about/_bio.html" %}
    {% include "myresume/about/_open_source.html" %}
    {% include "myresume/about/_education.html" %}
    {% include "myresume/about/_languages.html" %}
    {% include "myresume/about/_hobbies.html" %}
    {% include "myresume/about/_teaching.html" %}
</aside>
