<main class="w-full p-1 md:p-6 print:p-2 {% if debug %}{{ "border border-purple-800 border-solid" }}{% endif %}">
    <div class="mb-8 mt-6 sm:mt-0 print:mb-1">
        <h1 class="-ml-2 my-2 text-5xl md:text-6xl font-medium print:!text-5xl print:my-0">
            {{ bio_data.name }}
        </h1>
        <h2 class="my-2 text-lg text-red-900 font-serif print:text-sm print:my-1">
            {{ document_data.subtitle }}
        </h2>
    </div>
    <div>
        {% include "myresume/main/main_skills.html" %}
        {% include "myresume/main/job_experience.html" %}
        {% include "myresume/main/projects.html" %}
    </div>
</main>
