<div class="absolute top-2 right-0 z-10 print:hidden {% if debug %}{{ "border border-amber-900 border-solid" }}{% endif %}">
    {# djlint:off D018 #}
    <p class="text-right">
        <a href="{{ ROOT_PATH }}resume.{{ current_lang }}.pdf"
           class="underline"
           target="_blank"
           rel="noopener">{{ i18n_data.top_links.pdf_download }}</a>
    </p>
    <p class="text-right">
        {{ i18n_data.top_links.language }}
        {% for lang in available_langs %}
            {% if lang == current_lang %}
                {{ lang|upper }}
            {% else %}
                <a href="{{ ROOT_PATH }}{{ lang }}/" class="underline">{{ lang|upper }}</a>
            {% endif %}
            {% if not forloop.last %}/{% endif %}
        {% endfor %}
    </p>
</div>
