<!DOCTYPE html>
<html $htmlAttributes>
<head>
    <meta charset="utf-8" />
    <title>$title</title>
    <!-- $metadata -->
</head>
<body>
    <% if (htmlWebpackPlugin.options.appMountId) { %>
    <div id="<%- htmlWebpackPlugin.options.appMountId%>"></div>
    <% } %>

    <script type="text/javascript" id="app-initial-state">
        window.__INITIAL__STATE__ = <%= JSON.stringify(htmlWebpackPlugin.options.appInitialState) %>;
    </script>
</body>
</html>
