<!DOCTYPE html>
<html $htmlAttributes>
<head>
    <meta charset="utf-8" />
    <title>$title</title>
    <!-- $metadata -->
</head>
<body>
    <% if (htmlWebpackPlugin.options.appMountId) { %>
    <div id="<%- htmlWebpackPlugin.options.appMountId%>"></div>
    <% } %>

    <script type="text/javascript" id="app-initial-state">
      (function() {

        window.__INITIAL__STATE__ = <%= JSON.stringify(htmlWebpackPlugin.options.appInitialState) %>;

        var langMatch = window.location.search.match(/lang=(fr|en)$/);
        if (null !== langMatch) {
            window.__INITIAL__STATE__.currentLang = langMatch[1];
        }
      })();
    </script>
</body>
</html>
