<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="language" content="{{ lang }}">
        <title>Olivier Philippon - {{ 'title' | translate }}</title>
        <meta name="description" content="Olivier Philippon - Web Developer since 1999 - Ruby, Ruby on Rails, CoffeeScript, JavaScript, PHP, Flash freelance developer">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/normalize.css">
        {% if env == 'development' %}
            <link rel="stylesheet" href="css/main.css">
        {% else %}
            <link rel="stylesheet" href="css/main.min.css">
        {% endif %}
        <link href='http://fonts.googleapis.com/css?family=Marcellus' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>

        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


        <div id="main" class="clearfix">

            <div id="pdf-download">
                <a href="cv-olivier-philippon.{{ lang }}.pdf">{{ 'download' | translate }}</a>
            </div><!-- end #pdf-download -->

            <div id="language-selector">
                <span>language :</span>
                {% if lang == 'fr' %}
                    <a href="?lang=en">EN</a>
                    <span>FR</span>
                {% else %}
                    <span>EN</span>
                    <a href="?lang=fr">FR</a>
                {% endif %}
            </div><!-- end #language-selector -->

            <section id="misc-info">
                <div class="logo-container">
                    <span class="rougemine-logo"></span>
                    <a href="http://rougemine.com" target="_blank">rougemine.com</a><br>
                </div>
                <section>
                    <span class="header-icon"><img src="img/icons/headers/user.png" alt="me"></span>
                    Olivier Philippon<br>
                    {{ 'birth' | translate }}<br>
                    68 blvd St-Marcel<br>
                    75005 Paris<br>
                    {{ 'france' | translate }}
                    <a href="mailto:olivier@rougemine.com">olivier@rougemine.com</a><br>
                    Tel : +33 6 61 78 99 25
                </section>
                <section>
                    <span class="header-icon"><img src="img/icons/headers/github.png" alt="GitHub"></span>
                    <h3>{{ 'open_source_projects' | translate }}</h3>
                    <a href="https://github.com/DrBenton" target="_blank">github.com/DrBenton</a>
                </section>
                <section>
                    <span class="header-icon"><img src="img/icons/headers/ruler.png" alt="school"></span>
                    <h3>{{ 'education' | translate }}</h3>
                    1998-2000 : DUT S.R.C<br>
                    <i>{{ 'SRC' | translate }}</i><br>
                    1998: {{ 'bac' | translate }}
                </section>
                <section>
                    <span class="header-icon"><img src="img/icons/headers/chat.png" alt="languages"></span>
                    <h3>{{ 'languages' | translate }}</h3>
                    {{ 'language_english' | translate }},<br>
                    {{ 'language_spanish' | translate }}
                </section>
                <section>
                    <span class="header-icon"><img src="img/icons/headers/fave.png" alt="hobbies"></span>
                    <h3>{{ 'hobbies' | translate }}</h3>
                    {{ 'hobbies_content' | translate }}
                </section>
                <section>
                    <span class="header-icon"><img src="img/icons/headers/teaching.png" alt="teaching"></span>
                    <h3>{{ 'teaching' | translate }}</h3>
                    {{ 'teaching_content' | translate }}
                </section>
            </section><!-- end #misc-info -->

            <section id="main-panel">
                <h1>Olivier Philippon</h1>
                <h2>{{ 'digging' | translate }}</h2>

                <section class="skills">
                    <h3><img src="img/icons/headers/tool-red.png" alt="" >{{ 'main_skills' | translate }}</h3>
                    <div class="technologies-container clearfix">
                        {% for tech in technologies %}
                            <div class="tech clearfix">
                                <span class="icon">
                                    <img src="img/icons/techs/{{ tech.icon }}.png" alt="{{ tech.title }}">
                                </span>
                                <span class="title">
                                    {% if 'url' in tech %}
                                        <a href="{{ tech.url }}" target="_blank">
                                            {% if tech.title is not string %}
                                                {{ tech.title | join(' / ') }}
                                            {% else %}
                                                {{ tech.title }}
                                            {% endif %}
                                        </a>
                                    {% else %}
                                      {{ tech.title }}
                                    {% endif %}
                                </span>
                                {% if 'contributor-url' in tech %}
                                <div class="contributor">
                                    <a href="{{ tech['contributor-url' ] }}" target="_blank">({{ 'contributor' | translate }})</a>
                                </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div><!-- end .technologies-container -->

                    <div class="my-favorite-tech">
                        {{ 'favorite_language' | translate }} : <i>JavaScript + Python + Ruby = </i><a href="http://coffeescript.org" target="_blank">CoffeeScript</a> ♥
                    </div>

                    <div class="tools">
                        <h4> {{ 'tools' | translate }}</h4>
                        {% for tool in tools %}
                            {% set separator = '...' if loop.last else ',' %}
                            {% if 'url' in tool %}
                                <a href="{{ tool.url }}" target="_blank">{{ tool.title }}</a>{{separator}}
                            {% else %}
                                {{ tool.title }}{{separator}}
                            {% endif %}
                        {% endfor %}
                    </div><!-- end .tools -->

                </section><!-- end .skills -->

                <section class="experience">
                    <h3><img src="img/icons/headers/video-red.png" alt="" >{{ 'job_experience' | translate }}</h3>
                    <ul>
                        {% for xp in experiences %}
                            <li>
                                <span class="heading">{{ xp.period }} :</span>
                                {{ xp.content }}
                            </li>
                        {% endfor %}
                    </ul>
                </section><!-- end .experience -->

                <section class="works">
                    <h3><img src="img/icons/headers/lab-red.png" alt="" >{{ 'works' | translate }}</h3>
                    <ul>
                        {% for work in works %}
                            <li>
                                <span class="heading">{{ work.title }} :</span>
                                {{ work.content }}
                            </li>
                        {% endfor %}
                    </ul>
                </section><!-- end .works -->

            </section><!-- end #main-panel -->

        </div><!-- end #main -->

    <!-- Google Analytics -->
    {% if env == 'production' %}
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
                function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-40318889-2');ga('send','pageview');
    </script>
    {% endif %}

    <!-- generated by Python on {{ generation_date.strftime('%Y-%m-%d %H:%I:%S') }} -->
    {% if env == 'development' %}
        <script src="http://localhost:35729/livereload.js"></script>
    {% endif %}
    </body>
</html>
