@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: url(/static/fonts/ubuntu/v20/4iCs6KVjbNBYlgoKcg72nU6AF7xm.woff2) format("woff2");
  unicode-range: U+460-52F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: url(/static/fonts/ubuntu/v20/4iCs6KVjbNBYlgoKew72nU6AF7xm.woff2) format("woff2");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: url(/static/fonts/ubuntu/v20/4iCs6KVjbNBYlgoKcw72nU6AF7xm.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: url(/static/fonts/ubuntu/v20/4iCs6KVjbNBYlgoKfA72nU6AF7xm.woff2) format("woff2");
  unicode-range: U+370-377, U+37A-37F, U+384-38A, U+38C, U+38E-3A1, U+3A3-3FF;
}@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: url(/static/fonts/ubuntu/v20/4iCs6KVjbNBYlgoKcQ72nU6AF7xm.woff2) format("woff2");
  unicode-range: U+100-2AF, U+304, U+308, U+329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: url(/static/fonts/ubuntu/v20/4iCs6KVjbNBYlgoKfw72nU6AFw.woff2) format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}