@import "../variables";
@import "../mixins";

#main-panel {
    h1 {
        color: black;
        font-size: 3em;
        margin: 0;

        @include mobile-theme-screen {
            margin-top: $logo-container-height-in-mobile-mode + 5px;
            font-size: 2em;
        }
    }

    h2 {
        color: $red;
        font-family: $font-title;
        font-size: 2.2em;
        font-style: italic;
        margin: 0;

        @include mobile-theme-screen {
            font-size: 1.3em;
            margin-bottom: 1em;
        }
    }

    h3 {
        margin: 1em 0 0.5em 0;
        font-size: 1.75em;
        color: $red;
        img {
            vertical-align: middle;
            margin-top: -4px;
        }

        @include mobile-theme-screen {
            font-size: 1em;
        }
    }

    h4 {
        margin: 1em 0 0.25em 0;
    }

    p, a {
        color: $grey;
    }

    section {
        ul {

            @include mobile-theme-screen {
                padding-left: 8%;
                padding-right: 1em;
            }
            
            li {
                margin: 0 0 0.5em 0;
                .heading {
                    color: black;
                    font-weight: bold;
                }
            }
        }
    }

    @import "main-panel/skills";

}
