@import "../variables";

#main-panel {
    h1 {
        color: black;
        font-size: 3em;
        margin: 0;

        @media screen and (max-width: $mobileThemeThreshold) {
            margin-top: $logoContainerHeightInMobileMode;
            font-size: 2em;
        }
    }

    h2 {
        color: $red;
        font-family: 'Lobster Two', cursive;
        font-size: 2.2em;
        font-style: italic;
        margin: 0;
        
        @media screen and (max-width: $mobileThemeThreshold) {
            font-size: 1.2em;
        }
    }

    h3 {
        margin: 1em 0 0.5em 0;
        font-size: 1.75em;
        color: $red;
        img {
            vertical-align: middle;
            margin-top: -4px;
        }
        
        @media screen and (max-width: $mobileThemeThreshold) {
            font-size: 1em;
        }
    }

    h4 {
        margin: 1em 0 0.25em 0;
    }

    p, a {
        color: $grey;
    }

    section {
        ul {

            @media screen and (max-width: $mobileThemeThreshold) {
                padding-left: 8%;
            }
            
            li {
                margin: 0 0 0.5em 0;
                .heading {
                    color: black;
                    font-weight: bold;
                }
            }
        }
    }

    @import "main-panel/skills";

}
