@import "../variables";

#misc-info {
    background-color: $red;
    color: white;

    a {
        color: white;
    }

    .logo-container {
        text-align: center;
        margin: 0.4em 0px 1.5em 0;
        .rougemine-logo {
            display: block;
            width: 70px;
            height: 70px;
            margin: 0 auto;
            background: url(../img/icons/rougemine-70x70.png) 0 0 no-repeat;
            border: 3px solid #FFFFFF;
            border-radius: 5px;
        }
    }

    section {
        margin: 0 0 2em 1em;

        h3 {
            margin: 0 0 0.25em 0;
        }

        p {
            margin: 0;
        }

        .header-icon {
            display: block;
        }

        // "Rich Snippet-only" data
        .rich-snippet-only {
            display: none;
        }

        &.me-container {
            .twitter-link {
                display: inline-block;
                background: url("../img/icons/headers/twitter.png") -5px -2px no-repeat;
                padding-left: 23px;
                margin-top: 8px;
            }
        }
    }

}
