@import "../../_mixins";

.skills-container {
    .main-technologies-container {
        @include clearfix;
        margin-left: 1em;

        @include mobile-theme-screen {
            width: 95%;
            margin: 0 auto;
        }
        
        .tech {
            width: 33%;
            float: left;
            margin-bottom: 1em;
            position: relative;
            /*border: solid red 1px;*/

            .icon {
                display: inline-block;
                width: 35px;
                //text-align: center;
                img {
                }
            }
            .title {
            }
            .contributor {
                float: none;
                margin-left: 35px;
                margin-bottom: -0.5em;
                a {
                    font-style: italic;
                }
            }

            @include mobile-theme-screen {
                width: 48%;
                &:nth-child(even) {
                    float: right;
                    margin-left: 2px;
                }
                &:nth-child(odd) {
                    float: left;
                    margin-right: 2px;
                }
            }
        }
    }

    .other-technologies-container {
        @include clearfix;
        .tech-with-icon {
            line-height: 1.8;
        }
    }
}
