@import "variables";
@import "mixins";

$outline-color: white;
$outline-size: 2px;

.pdf-download, .language-selector {
  position: absolute;
  right: 0;
  z-index: 2;
  a, span {
    font-family: $font-native;
    color: black;
    font-weight: normal;
    font-size: 12px;
    // Let's apply *a lot* of text shadows to give a outline effect to the text
    // (for when it's over the GitHub ribbon)
    // Ugly and hacky, but... its does the job :-)
    text-shadow: make-long-shadow($outline-size, $outline-color, 20);
  }
  @include mobile-theme-all {
    left: 4px;
    z-index: 1;
    span, a {
      color: white;
      text-shadow: none;
    }
  }
  @media print {
    display: none;
  }
}

.pdf-download {
  top: 0.5em;
}

.language-selector {
  top: 1.5em;
}