{% extends 'layout.html.twig' %}

{% block content %}

    {{ include('includes/_top-links.html.twig') }}

    <section id="misc-info" itemscope itemtype="http://schema.org/Person">

        {{ include('includes/_misc-info-content.html.twig') }}

    </section>

{% endblock %}
