<section id="hobbies">
    <%# <HeaderIcon icon="/assets/img/icons/header-icons/fave.svg" alt="hobbies" /> %>

    <h3><%= t :hobbies, :title %></h3>

    <p><%= t :hobbies, :content %></p>
</section>
