<section id="teaching">
    <%# <HeaderIcon icon="/assets/img/icons/header-icons/teaching.png" alt="teaching" /> %>

    <h3><%= t :teaching, :title %></h3>

    <p>
        <%= t :teaching, :content %>
    </p>
</section>
