{% load myresume_tags %}

<li class="mb-4 print:!mb-8 {% layout_debug border_color="cyan-900" %} {% if job.not_on_pdf %}print:hidden{% endif %}{% if job.page_break_before %}break-before-page print:!mt-8{% endif %}"
    {% if job.organisation %} itemscope itemtype="https://schema.org/Organization" itemprop="{{ job.current|yesno:"worksFor,alumniOf" }}" {% endif %}>
    {% if job.organisation %}
        <meta itemprop="name" content="{{ job.organisation.name }}" />
        {% if job.organisation.url %}
            <meta itemprop="url" content="{{ job.organisation.url }}" />
        {% endif %}
    {% endif %}
    <div>
        <span class="font-bold">{{ job.period }}:</span>
        <span class="*:decoration-dotted *:underline-offset-2">{{ job.content|processed_job_content|safe }}</span>
    </div>
    {% if job.location %}
        <div class="text-sm flex items-center print:!text-xs">
            {% svg_icon "location" classes="size-5 print:!size-4" %}
            <span class="ml-0.5">{{ job.location }}</span>
        </div>
    {% endif %}
    {% if job.projects %}
        <ul class="list-[circle] pl-6 mt-1">
            {% for project in job.projects %}
                <li class="mb-2 print:text-xs">{{ project|safe }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if job.tags %}
        <div class="flex flex-wrap gap-1.5 mt-2 print:!gap-1 print:!mt-1">
            {% for tag in job.tags %}
                <span class="inline-block px-2 py-0.5 text-xs font-medium rounded {% theme element_id="TECH_BADGE" %} print:!px-1.5 print:!py-0 print:!font-normal">{{ tag }}</span>
            {% endfor %}
        </div>
    {% endif %}
</li>
