{% extends "myresume/main/_base_section.html" %}
{% load myresume_tags %}
{% block title %}
    {% main_section_title i18n_data.captions.main_skills icon="img/icons/header-icons/tool-red.png" %}
{% endblock title %}
{% block content %}
    <div class="p-2 print:p-1">
        <div class="grid grid-cols-2 gap-5 md:grid-cols-3 print:gap-2">
            {% for tech in tech_data.main %}
                {% main_section_main_tech tech %}
            {% endfor %}
        </div>
        <div class="mt-8 print:mt-2">
            <h5 class="text-lg mb-2 print:text-base print:mb-1">
                {{ i18n_data.captions.other_skills }}
            </h5>
            <div class="grid grid-cols-3 gap-3 sm:grid-cols-4 md:grid-cols-5 print:!grid-cols-4 print:!gap-1">
                {% for tech in tech_data.others %}
                    {% main_section_other_tech tech %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
