{% extends "myresume/main/_base_section.html" %}
{% load myresume_tags %}
{% block title %}
    {% main_section_title i18n_data.captions.projects icon="projects" %}
{% endblock title %}
{% block content %}
    <ul class="pl-4 pr-1 list-disc sm:pr-0 print:text-sm print:pl-4">
        {% for project in projects_data.projects %}
            <li class="mb-1 text-justify {% if project.not_on_pdf %}print:hidden{% endif %}">
                <span class="font-bold">{{ project.title }}:</span>
                <span class="*:decoration-dotted *:underline-offset-2">
                    {{ project.content|processed_project_content|safe }}
                </span>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}
