@import "variables";

html, body {
    font-family: 'Droid Sans', sans-serif;
}


#content-container {
    position: relative;
    width: $contentContainerWith;
    margin: 0 auto;
    display: table;
    min-height: 100%;

    @media screen and (max-width: $mobileThemeThreshold) {
        width: auto;
    }

    #misc-info {
        width: $miscInfoWith;
        display: table-cell;
        min-height: 100%;
        padding-top: 3em;
        vertical-align: top;
        /*border: solid blue 1px;*/

        @media screen and (max-width: $mobileThemeThreshold) {
            // In mobile mode, this block is moved at the bottom of the page
            width: 100%;
            display: table-footer-group;
            &:before {
                content: "";
                display: table;
                width: 100%;
                margin: 0 0 1em 0;
                border-top: solid 2px darken($red, 10%);
            }
        }
    }

    #main-panel {
        width: $mainPanelWith;
        display: table-cell;
        padding-left: 25px;
        padding-top: 2em;
        padding-bottom: 3em;
        vertical-align: top;
        /*border: solid red 1px;*/

        @media screen and (max-width: $mobileThemeThreshold) {
            width: 100%;
            display: table-row-group;
            padding-left: 0;
        }
    }
}
