@import "variables";

html, body {
    font-family: 'Marcellus', serif;
}


#content-container {
    position: relative;
    width: $contentContainerWith;
    margin: 0 auto;
    display: table;
    min-height: 100%;

    @media (max-width: $mobileThemeThreshold) {
        width: auto;
    }

    #misc-info {
        width: $miscInfoWith;
        display: table-cell;
        min-height: 100%;
        padding-top: 3em;
        vertical-align: top;
        /*border: solid blue 1px;*/

        @media (max-width: $mobileThemeThreshold) {
            width: 100%;
            display: table-footer-group;
        }
    }

    #main-panel {
        width: $mainPanelWith;
        display: table-cell;
        padding-left: 25px;
        padding-top: 2em;
        padding-bottom: 3em;
        vertical-align: top;
        /*border: solid red 1px;*/

        @media (max-width: $mobileThemeThreshold) {
            width: 100%;
            display: table-row-group;
        }
    }
}
