html, body {
    font-family: 'Marcellus', serif;
}

#content-container {
    position: relative;
    max-width: 950px;
    margin: 0 auto;
    display: table;
    min-height: 100%;

    #misc-info {
        width: 240px;
        min-height: 100%;
        /*border: solid blue 1px;*/
        padding-top: 3em;
        display: table-cell;
        vertical-align: top;
    }
}
