$outline-color: white;
$outline-size: 2px;

#pdf-download, #language-selector {
    position: absolute;
    right: 0;
    a, span {
        font-family: Arial, sans-serif;
        color: black;
        font-weight: normal;
        font-size: 12px;
        // Let's apply *a lot* of text shadows to give a outline effect to the text
        // (for when it's over the GitHub ribbon)
        // Ugly and hacky, but... its makes the job :-)
        text-shadow: 
                0 0 $outline-size $outline-color,
                0 0 $outline-size $outline-color,
                0 0 $outline-size $outline-color,
                0 0 $outline-size $outline-color,
                0 0 $outline-size $outline-color,
                0 0 $outline-size $outline-color,
                0 0 $outline-size $outline-color,
                0 0 $outline-size $outline-color,
                0 0 $outline-size $outline-color,
                0 0 $outline-size $outline-color,
                0 0 $outline-size $outline-color,
                0 0 $outline-size $outline-color,
                0 0 $outline-size $outline-color,
                0 0 $outline-size $outline-color,
                0 0 $outline-size $outline-color,
                0 0 $outline-size $outline-color,
                0 0 $outline-size $outline-color,
                0 0 $outline-size $outline-color,
                0 0 $outline-size $outline-color,
                0 0 $outline-size $outline-color;
    }
    @media (max-width: $mobileThemeThreshold) {
        left: 0;
        z-index: 1;
        span, a {
            color: white;
            text-shadow: none;
        }
    }
    @media print {
        display: none;
    }
}

#pdf-download {
    top: 0.5em;
}

#language-selector {
    top: 1.5em;
}

#github-ribbon {
    img {
        @media (max-width: $mobileThemeThreshold) {
            z-index: 2;
        }
    }
    @media print {
        display: none;
    }
}
