#pdf-download, #language-selector {
    position: absolute;
    right: 0;
    a, span {
        font-family: Arial, sans-serif;
        color: black;
        font-weight: normal;
        font-size: 12px;
    }
    @media print {
        display: none;
    }
}

#pdf-download {
    top: 0.5em;
}

#language-selector {
    top: 1.5em;
}
