{% extends "myresume/about/_base_section.html" %}

{% load myresume_tags %}

{% block caption %}
    {% about_section_caption bio_data.name icon="bio" itemprop="name" %}
{% endblock caption %}

{% block content %}
    <div>
        <p>
            <a itemprop="email" href="mailto:{{ bio_data.email }}" class="underline">{{ bio_data.email }}</a>
        </p>
        <meta itemprop="jobTitle" content="{{ bio_data.job_title }}" />
        <meta itemprop="url" content="{{ bio_data.url }}" />
    </div>
    <div class="mt-3">
        <p>
            <span>LinkedIn:</span>
            <br>
            <a href="https://www.linkedin.com{{ bio_data.linked_in }}"
               class="underline"
               itemprop="sameAs"
               target="_blank"
               rel="noopener">{{ bio_data.linked_in }}</a>
        </p>
    </div>
    <div class="mt-3">
        <p>
            <span>My DevBlog:</span>
            <br>
            <a href="{{ bio_data.devblog }}"
               class="underline"
               itemprop="sameAs"
               target="_blank"
               rel="noopener">{{ bio_data.devblog | cut:"https://" }}</a>
        </p>
    </div>
    <div class="mt-3">
        <p>
            <span>Mastodon:</span>
            <br>
            <a href="{{ bio_data.mastodon }}"
               class="underline"
               itemprop="sameAs"
               target="_blank"
               rel="noopener">{{ bio_data.mastodon | cut:"https://" }}</a>
        </p>
    </div>
    <div class="mt-3">
        <p>
            {{ i18n_data.citizenship.citizenship }}:
            <ul class="list-disc list-inside">
                <li itemscope itemprop="nationality">
                    <span class="-ml-1">{{ i18n_data.citizenship.country.fr }}</span>
                </li>
                <li itemscope itemprop="nationality">
                    <span class="-ml-1">{{ i18n_data.citizenship.country.uk }}</span>
                </li>
            </ul>
        </p>
    </div>
{% endblock content %}
