{% load static myresume_tags %}
<section>
    {% svg_icon "bio" classes="size-8" %}
    <div class="mt-4">
        <p>
            <span itemprop="name">{{ bio_data.name }}</span>
        </p>
        <p class="hidden">
            <span itemprop="jobTitle">{{ bio_data.job_title }}</span>
        </p>
        <p>
            <a itemprop="email" href="mailto:{{ bio_data.email }}" class="underline">{{ bio_data.email }}</a>
        </p>
        <p class="hidden">
            <span itemprop="url">{{ bio_data.url }}</span>
        </p>
    </div>
    <div class="mt-4">
        <p>
            <span>LinkedIn:</span>
            <br>
            <a href="{{ bio_data.linked_in }}"
               class="underline"
               itemprop="sameAs"
               target="_blank"
               rel="noopener">{{ bio_data.linked_in | cut:"https://www.linkedin.com" }}</a>
        </p>
    </div>
    <div class="mt-4">
        <p>
            <span>My DevBlog:</span>
            <br>
            <a href="{{ bio_data.devblog }}"
               class="underline"
               itemprop="sameAs"
               target="_blank"
               rel="noopener">{{ bio_data.devblog | cut:"https://" }}</a>
        </p>
    </div>
    <div class="mt-4">
        <p>
            <span>Mastodon:</span>
            <br>
            <a href="{{ bio_data.mastodon }}"
               class="underline"
               itemprop="sameAs"
               target="_blank"
               rel="noopener">{{ bio_data.mastodon | cut:"https://" }}</a>
        </p>
    </div>
</section>
