@import "variables";

@mixin clearfix {
    &:after {
        content:"";
        display:block;
        clear:both;
    }
}

@mixin mobile-theme-screen {
    @media screen and (max-width: $mobile-theme-threshold) {
        @content;
    }
}

@mixin mobile-theme-all {
    @media (max-width: $mobile-theme-threshold) {
        @content;
    }
}

// @link http://dtott.com/thoughts/2013/07/03/a-sass-mixin-for-long-shadows
@function make-long-shadow($outline-size, $outline-color, $nb-iterations) {
    $val: 0 0 #{$outline-size} #{$outline-color};
    $comma: ',';//had to do that, otherwise SASS processor strips the comma :-/
    @for $i from 1 through $nb-iterations {
        $val: #{$val}#{$comma} 0 0 #{$outline-size} #{$outline-color};
    }
    @return $val;
}

@mixin tech-icon-bg ($tech) {
  background-image: url("/assets/img/icons/techs/#{$tech}.png");
}

@mixin tech-with-icon {
  display: inline-block;
  line-height: 20px;
  padding-left: 28px;
  background-repeat: no-repeat;
  background-position: 2px center;

  $techs: algolia, backbone, behat, browserify, django, drupal, elasticsearch, express,
    flash, go, gulp, html5, javascript, koa, less, nodejs, nextjs, php, postgres, python,
    rails, react, redis, rest, ruby, silex, symfony2, typescript, webpack,
    zend-framework;
  @each $tech in $techs {
    &.#{$tech} {
      @include tech-icon-bg($tech);
    }
  }
}
