$content-container-width: 950px;
$misc-info-width: 240px;
$main-panel-width: 710px;
$mobile-theme-threshold: $content-container-width - 1;
$logo-container-height-in-mobile-mode: 138px;

$red: #800000;
$grey: #505050;

$font-main: "Open Sans", sans-serif;
$font-title: "Lobster Two", cursive;
$font-native: Arial, sans-serif;
